@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: white;
}
.website-name{
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  
  font-weight: bold;
}
.website-name > a{
  text-decoration: none;
  color: #213E3B;
}
.navbar{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    
    align-items: center;
    background-color: #E8FFFF;
    padding: 10px 0px;
    border-bottom: 1px solid #41AEA9;
    /* box-shadow: 0px 2px 4px gray; */
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
}
.primary-navbar
{
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  list-style: none; 
  
}
.item{
  /* border:1px solid red; */
  padding: 15px 5px ;
}
.item > a{
  color: #213E3B;
 text-decoration: none;
 padding: 10px 10px 5px 10px;
 /* border: 2px solid rgb(15, 83, 243); */
 margin: 0px 10px;
 font-size: 20px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.item > a:hover{
     border-bottom: 3px solid #41AEA9;
    color: #41AEA9;
}
.icon-item{
  justify-content:flex-end;
  display:flex;
  align-items: center;
  
 
}
#click{
  display: none;
}
#menu-icon{
  margin: 0px 50px;
  display: none;
}

/* -------------------------------------------------------------------------------- */
@media (max-width:816px) { /*here responsive nav css are complete but js is remaining*/
  #menu-icon{
    display: inline;
  }
  .primary-navbar{
    /* border: 2px solid black; */
    position:absolute;
    top:70px;
    right: -100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    color: #213E3B;
    background-color: #A6F6F1;
    transition: all 0.5s ease;
  }
 #click:checked ~ .primary-navbar{
    right: 0%;
  }
  .item {
    
    display: inline-block;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    padding: 15px 30px;
  }
}